h1{
    text-align: center;
}

h1{
    background-color: coral
}

img{
    height: 340px;
    width: 300px;
 
}
.i{
    width: 50px;
    height: 50px;
}

h2{
    text-align: center;
    color:blue;
}

body {
    background-color: blanchedalmond
}

